<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>You are user <%= @usernum %> out of <%= @count %>
      </h1>
    </section>
  </aside>
</div>
